*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Nunito sans, sans-serif;
}

/* Navbar */
nav {
    height: 45px;
    width: 100%;
    background: rgb(34, 33, 33);
    z-index: 10;
}

.list-nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    z-index: 20;
}

.item-nav {
    display: flex;
    align-items: center;
}

.list-nav:nth-child(1),
.item-nav:nth-child(2) {
    margin-right: auto;
}

.item-nav p {
    font-size: 18px;
    color: whitesmoke;
}

svg {
    width: 25px;
    height: 25px;
    color: rgb(196, 183, 183);
    margin: 0 15px 0 8px;
}

svg:hover {
    cursor: pointer;
    color:#fafafa;
}



#rotate {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

#rotate:hover {
    animation: rotateAnimation 0.3s ease forwards;
}

@keyframes rotateBackAnimation {
    0% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(30deg); }
}

#rotate:not(:hover) {
    animation: rotateBackAnimation 0.3s ease forwards;
}


/* Accueil */
.accueil {
    width: 100%;
    height: 100vh;
    background-image: url(images/2306.w026.n002.3461B.p1.3461.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.left-content {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list-card .card {
    width: 100%;
    height: 190px;
    backdrop-filter: blur(5px);
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    padding-top: 20px;
    border: rgb(121, 216, 237) 1px solid;
}

.savoir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    background: linear-gradient(to right, rgb(104, 29, 202),rgb(253, 86, 254) );
    border-radius: 15px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.savoir a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
    
}

.savoir svg {
    color: #ffffff;
}

.bouton {
    position: absolute;
    right: 10%; /* Déplacer le bouton vers la gauche */
    bottom: 10%;
    padding: 10px;
}

.bouton a {
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 20px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.commencer {
    background: linear-gradient(to right, rgb(253, 86, 254), rgb(104, 29, 202));
}

.arreter {
    background: linear-gradient(to right, rgb(0, 73, 178), rgb(59, 195, 238));
}

.invisible {
    display: none;
}

.information {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    backdrop-filter: blur(30px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.information svg {
    position: absolute;
    top: 10px;
    right: 0;
    width: 40px;
    height: 40px;
    color:#000;
}


/* Mes maitrises */
.skills-heading h2{
    color:#ffffff;
    font-size: 60px;
    text-align: center;
}
  
.skills-bar {
    display: flex;
    justify-content: center;
}
  
.skills-bar .bar {
    margin: 50px 0;
}
  
.skills-bar .bar .info span {
    font-size: 1.5rem;
    font-weight: 500;
    color:#ffffff;
}
  
.skills-bar .bar .info {
    margin-bottom: 8px;
    color: #ffffff;
}
  
.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #ffffff;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
  
.bar .progress-line span {
    position: absolute;
    background: rgb(238, 80, 249);
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
  
@keyframes animate {
    100% {
      transform: scaleX(1);
    }
}
  
.progress-line .html {
    width: 70%;
}
.progress-line .css {
    width: 60%;
}
.progress-line .sass {
    width: 50%;
}
.progress-line .bootstrap {
    width: 50%;
}
.progress-line .js {
    width: 50%;
}
  
.bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #ffffff;
    border-top-color: #ffffff;
}
  
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    background: #ffffff;
  
    border-radius: 3px;
}
  
.progress-line .html::after {
    content: "80%";
}
.progress-line .css::after {
    content: "70%";
}
.progress-line .sass::after {
    content: "50%";
}
.progress-line .bootstrap::after {
    content: "50%";
}
.progress-line .js::after {
    content: "50%";
}
  
.navbar.solid {
    background-color: #ffffff;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    z-index: 500;
}
  
.navbar.solid .navbar-brand {
    display: inline-block;
    color: #ffffff;
    transition: color 1s ease 0s;
}
  
.navbar-brand {
    display: none;
    color: #ffffff;
    font-weight: 400;
}


/* Formations */
.formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
    
    
.formation > div {
      margin-bottom: 90px; /* Ajustez la valeur selon votre préférence */
}
    
    
.formation h6{
      color:rgb(255, 255, 255);
      font-size: 60px;
      text-align: center;
      font-family: 'Inter', sans-serif;
      margin-bottom: 20px;
    
}
.formation h7,
.formation h8,
.formation h9 {
      text-align: center;
      font-size: 40px;
      color:rgb(36, 7, 102);
}
    
.formation p{
      color:rgb(228, 228, 228);
      font-size: 30px;
    
}


/* Mes réalisations */
  .cards{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  
  }
  .cards h2.header{
    font-size: 55px;
    margin: 0 0 100px 0;
    letter-spacing: 1px;
    color:#f5f5f5;
  }
  .services{
    display: flex;
    align-items: center;
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid #c0b5b5;
    border-radius: 4px;
    transition: all .3s ease;
    color:#ebedf1;
  }
  .content .corps{
    font-size: 70px;
    margin: 16px 0;
  }
  .content > *{
    flex: 1 1 100%;
  }
  .content:hover{
    color: white;
  }
  .content:hover a{
    border-color: #ffffff;
    background: #000000;
  }
  .content-1:hover{
    border-color: rgba(33, 37, 41);
    background: rgba(33, 37, 41);
  }
  .content-1:hover a{
    color: #ffffff;
  }
  .content-2:hover{
    border-color: rgba(0, 105, 129);
    background: rgba(0, 105, 129);
  }
  .content-2:hover a{
    color: #ffffff;
  }
  .content-3:hover{
    border-color: rgba(211, 171, 85);
    background: rgba(211, 171, 85);
  }
  .content-3:hover a{
    color: #ffffff;
  }
  .content h2{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .content p{
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
  }
  .content a{
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
  }
  .content a:hover{
    border-radius: 4px;
  }

  .card28 {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Style pour les titres de section */
  .titre h6 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color:#ffffff;
  
  }
  
  .sectioncard h2{
    font-size: 30px;
    line-height: 1.5;
    color:rgb(39, 24, 92);
    text-align: center;
  }
  
  /* Style pour les paragraphes de section */
  .sectioncard p {
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    color:#ffffff;
  }

  /* Menu.html */

  .portail {
    width: 100%;
    height: 100vh;
    background-image: url(images/2308-w026-n002-3750B-p1-3750.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
}

/* Bureau.html */

.bureau {
    width: 100%;
    height: 100vh;
    background-image: url(images/windows-11-wallpaper-img19-60ca004951f20-scaled.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: rgba(36, 33, 33, 0.986);
}

.windows svg{
    width: 35px;
    height: 35px;
    margin: 0;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 35px;
    background-color:rgb(85, 81, 81);
    margin-left: 10px;
    border-radius: 30px;
}

.search p{
    color:rgb(201, 198, 198)
}

.logobarre{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
}

img:hover{
    cursor: pointer;
}